/**
 * @name Blackcord
 * @description Deixa o Discord um pouco mais escuro
 * @author Luis Otavio
 * @version 1.0.0
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css');

:root {
  --accentcolor: 114,137,218;
  --accentcolor2: 255,115,250;
  --linkcolor: 0,176,244;
  --mentioncolor: 250,166,26;
  --textbrightest: 255,255,255;
  --textbrighter: 222,222,222;
  --textbright: 185,185,185;
  --textdark: 140,140,140;
  --textdarker: 115,115,115;
  --textdarkest: 80,80,80;
  --font: 'Roboto';
  --backgroundaccent: 0,0,0;
  --backgroundprimary: 20,20,20;
  --backgroundsecondary: 10,10,10;
  --backgroundsecondaryalt: 0,0,0;
  --backgroundtertiary: 0,0,0;
  --backgroundfloating: 10,10,10;
  --settingsicons:      1;
}
